<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.spacebison.multimic"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MultimicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".MultimicService"
            android:process=":MultimicService"/>

        <!-- Google Analytics -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".ui.ServerSearchActivity"/>

        <activity
            android:name=".ui.ClientActivity"/>

        <receiver
            android:name=".ToastServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="org.spacebison.multimic.ACTION_CONNECTED"/>
                <action android:name="org.spacebison.multimic.ACTION_DISCONNECTED"/>
                <action android:name="org.spacebison.multimic.ACTION_CLIENT_CONNECTED"/>
                <action android:name="org.spacebison.multimic.ACTION_CLIENT_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ServerActivity"/>

    </application>

</manifest>
